#textdomain	wesnoth-multiplayer-era_TheXalidiExpansion
[era]
    id =   TheXalidiExpansion-h
    name =   _"The Xalıdı Expansion (heroic)"
    description =   _"
  Commanders and recruits both with more experience during the Xalıdı Expansion era.
  
  See to the description for the nonheroic version.
  "

    {ERA_HEROES }
    {~add-ons/era_TheXalidiExpansion/factions/khalifate-aoh.cfg}
[/era]
