#textdomain	wesnoth-multiplayer-era_TheXalidiExpansion
[multiplayer_side]
    id=Khalifate
    name= _"Xalıdı"
    image="units/khalifate/muharib.png"
    type=random
    leader=TXaliExp__Muharib,TXaliExp__Ghazi,TXaliExp__Mudafi,TXaliExp__Monawish,TXaliExp__Tabib
    random_leader=TXaliExp__Muharib,TXaliExp__Ghazi,TXaliExp__Mudafi,TXaliExp__Monawish,TXaliExp__Tabib
    recruit=TXaliExp__Jundi,TXaliExp__Arif,TXaliExp__Khaiyal,TXaliExp__Rami,TXaliExp__Hakim,TXaliExp__Naffat,TXaliExp__Falcon
    terrain_liked=Ss, Hh, Ha, Ww
    # wmllint: markcheck off
    description="<img>src='portraits/khalifate/hakim.png~BG()' align='middle'</img>
    
 "+{MULTIPLAYER-SIDE/Xalidi_description }
    # wmllint: markcheck on
    [ai]
        recruitment_pattern=fighter,fighter,fighter,"mixed fighter",mixed fighter,archer,archer,scout
    [/ai]
[/multiplayer_side]
